ion-item {
  --background: transparent;
  margin-bottom: 12px;
  --border-radius: 8px;
  
  &.ion-invalid {
    --highlight-color: var(--ion-color-danger);
  }
}

form {
  padding-top: 16px;
}

// Ensure inputs have a bit of breathing room and modern look
ion-input {
  --padding-top: 10px;
  --padding-bottom: 10px;
}
