ion-list-header {
  padding-inline-start: 16px;
  padding-top: 12px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

ion-badge[slot="start"] {
  margin-inline-end: 1rem;
  min-width: 2rem;
  text-align: center;
}
